* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d9d9d9;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  justify-content: center;
}
.mainContainer {
  width: 367px;
  height: 509px;
  border-radius: 8px;
  text-align: left;
  padding-bottom: 16px;
  background-color: white;
  margin-top: 57px;
}

.mainPhoto {
  width: 367px;
  height: 220px;
  object-fit: contain;
  border-radius: 8px 8px 0 0;
}

.data {
  font-size: 24px;
  line-height: 30px;
  color: #5468e7;
  padding-bottom: 24px;
}
.avatar {
  width: 48px;
  height: 48px;
  object-fit: contain;
  margin-left: 16px;
}
.content {
  padding: 24px 16px 0;
}
.text {
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
}
.name {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
  color: #7676b2;
  padding-right: 8px;
  margin: 0 8px;
  border-right: 1.1px solid;
}
.date {
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 1%;
  color: #7676b2;
}
.author {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
